{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h3>{% trans "LOG OUT" %}</h3>
                <hr>
    
                <h3>{% trans 'Are you sure you want to log out, ' %}{{ user.username }}?</h3>
                <form method="post" class="text-center" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <br>
                    <button class="btn btn-signup" type="submit">{% trans 'Bye!' %}</button>
                </form>
            </div>
        </div>
        
    </div>
    
</div>
{% endblock %}