/* --------------------------------------------------General */

hr {
    color: #183a1d;
}

/* --------------------------------------------------Navbar */

.navbar {
    background-color: #FEFBE9;
    padding-left: 1em;
    padding-right: 1em;
    --bs-navbar-nav-link-padding-x: 1rem;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    font-weight: 900;
    color: #f0a04b;
    font-size: 3rem;
}

.nav-link {
    color: #183a1d;
}

.navbar-nav {
    --bs-nav-link-hover-color: #f0a04b;
}

.dropdown-menu {
    background-color: #FEFBE9;
    --bs-dropdown-font-size: 1.25rem;
    --bs-dropdown-color: #183a1d;
    --bs-dropdown-link-hover-bg: #FEFBE9;
    --bs-dropdown-link-hover-color: #f0a04b;
    --bs-dropdown-link-active-color: #FBF8F1;
    --bs-dropdown-link-active-bg: #FEFCF3;
    border: none;
    margin-right: 0.125em;
}

.dropdown-item {
    color: #183a1d;
}


/* --------------------------------------------------Body */

body {
    background-color: #FEFBE9;
}

/* --------------------------------------------------Card */

.card {
    border: none;
    background-color: #e1eedd;
    font-family: 'Open Sans', sans-serif;
    color: #183a1d;
    padding: 1em;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #f0a04b;
}

.author {
    color: #FEFBE9;
    margin: 0.5em; 
    text-transform: uppercase;
}


/* --------------------------------------------------Footer */

footer {
    color: #183a1d;
    background-color: #e1eedd;
    padding-bottom: 0.125em;
    text-align: center;
}

/* social icons */
.social {
    margin: 20px 10px;
    color: #183a1d;
    font-size: 1.5rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.social:hover {
    color: #f0a04b;
    /* background-color: #183a1d; */
}


.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}