{% extends 'base.html' %}

{% load static %}

{% block title %}Change password{% endblock title %}

{% block content %}

<div class="container">

    {% if user.is_authenticated %}

        <div class="form-group">
            <h3>CHANGE PASSWORD</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}
                <button type="submit" class="btn">Change password</button>
            </form>
        </div>
    
    {% else %}

        <h3>Cats only in this blog, Fido!</h3>

    {% endif %}

</div>

{% endblock content %}