{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container add-post-form">

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            
            <div class="form-group">
                <h3>DELETE</h3>
                <h3>"{{ post.title }}"?</h3>
                <hr>
                <form class="confirm-delete" method="POST">
                    {% csrf_token %}
                    <h4>Are you sure?</h4>
                    <br>
                    <button class="btn">Delete post!</button>
                </form>
            </div>
        {% else %}

            <h3>Bad kitty! You're not the right cat to edit this post!</h3>

        {% endif %}   

    {% else %}

        <h3>Cats only in this blog, Fido!</h3>

    {% endif %}

</div>

{% endblock %}