{% extends 'base.html' %}

{% block content %}



<div class="container add-post-form">

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h3>Delete {{ post.title }}</h3>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <strong>Are you sure?</strong>
                    <button>Delete post!</button>
                </form>
            </div>
        {% else %}
            <h3>Bad kitty! You're not the right cat to edit this post!</h3>
        {% endif %}    
    {% else %}

    Cats only in this blog, Fido!

    {% endif %}

</div>



{% endblock %}