{% extends 'base.html' %}

{% load static %}

{% block title %}Edit Profile{% endblock title %}

{% block content %}

<div class="container">

{% if user.is_authenticated %}

        
        <div class="form-group">
            <div class="row">
                <h3>EDIT PROFILE</h3>
                <hr>
                <div class="col-md-8 mx-auto">
                    {% if user.profile_pic %}
                    <img src="{{ user.profile.profile_pic.url }}" height=200 width=200 class="rounded-circle" alt="">
                    
                    {% else %}
                    <img src="{% static 'static-images/placeholder_profile_image.png' %}" height=200 width=200 class="rounded-circle" alt="">
                    {% endif %}
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit" class="btn center-align">Update profile</button>
            </form>
        </div>

    

{% else %}

<h3>Cats only in this blog, Fido!</h3>

{% endif %}


</div>



    
{% endblock content %}