{% extends 'base.html' %}

{% load static %}

{% block title %}Edit Profile{% endblock title %}

{% block content %}

<div class="container">

    

            <div class="form-group">
                <div class="row">
                    <h3>EDIT PROFILE</h3>
                    <hr>

                </div>
                <div class="d-flex justify-content-center">
                    <img src="{{ user.profile.profile_pic.url }}" height=200 width=200 class="rounded-circle" alt="">
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn center-align">Update profile</button>
                </form>
            </div>

        

</div>

{% endblock content %}