{% extends 'base.html' %}

{% block content %}

placeholder code that works:

{% if "placeholder" in post.featured_image.url %}
<img src="{% static 'images/placeholder_featured_image.png' %}" alt="" class="card-img top">
{% else %}
<img src=" {{ post.featured_image.url }}" width="100%">
{% endif %}



Post model:
featured_image = CloudinaryField('image', default='placeholder_featured_image.png')

---------------------------------------

Profile model:
profile_pic = CloudinaryField('image', default='placeholder_profile_image.png')

<div class="author-avatar">
    {% if "placeholder" in post.author.profile.profile_pic.url %}
    <img src="{% static 'images/placeholder_profile_image.png' %}" height=100 width=100 class="author-pic" alt="">
    {% else %}
    <img src=" {{ post.author.profile.profile_pic.url }}" height=100 width=100 class="author-pic" alt="">
    {% endif %}
</div>


{% endblock %}