{% extends 'base.html' %} 
{% load static %}
{% block content %}

{% load crispy_forms_tags %}



<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">

                <h1 class="post-title">{{ post.title }}</h1>
                    
                    <p class="post-subtitle"> 
                        {% if post.author.profile.profile_pic %}
                        <img src="{{ post.author.profile.profile_pic.url }}" height=100 width=100 class="rounded-circle" alt="">
                        <!-- <img src="{{ default_profile_image.png }}" height=100 width=100 class="rounded-circle" alt=""> -->
                        {% else %}
                        <img src="{% static 'static-images/default_profile_image.png' %}" height=100 width=100 class="rounded-circle" alt="">
                        {% endif %}
                        {{ post.author }}
                        {{ post.created_on }}</p>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <div class="edit-delete-post">
                            <a href="{% url 'update_post' post.slug %}">Edit post</a>
                            <a href="{% url 'delete_post' post.slug %}">Delete post</a>
                        </div>
                            
                        {% endif %}
                    {% endif %}
                
                    
                
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">

                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">

                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {%  if user.is_authenticated %}
                                <form action="{% url 'post_like' post.slug %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    {% if liked %}

                                    <button class="paw-btn liked-paw" type="submit" name="blogpost_id"
                                        value="{{post.slug}}">
                                        <i class="fa-solid fa-paw"></i>
                                    </button>
                                    <span class="text-secondary"> 
                                        {{ post.number_of_likes }}
                                    </span>

                                    {%  else %}

                                    <button class="paw-btn unliked-paw" type="submit" name="blogpost_id"
                                        value="{{post.slug}}">
                                        <i class="fa-solid fa-paw"></i>
                                    </button>
                                    <span class="text-secondary">
                                         {{ post.number_of_likes }}
                                    </span>

                                    {% endif %}
                                </form>

                            {% else %}

                                <span class="text-secondary"><i class="fa-solid fa-paw"></i> {{ post.number_of_likes }}
                                </span>

                            {% endif %}
                        </strong>

                        <!-- <strong class="text-secondary"><i class="fa-solid fa-paw"></i> {{ post.number_of_likes }} </strong> -->
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>

                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">

                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">

                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">

                            {{ comment.created_on }}
                        </span> wrote:
                    </p>

                    {{ comment.body | linebreaks }}
                </div>
                <hr>

                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock content %}