{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container add-post-form">

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h3>UPDATE POST</h3>
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button>Update</button>
                </form>
            </div>

        {% else %}

            <h3>Bad kitty!</h3>

        {% endif %}

    {% else %}

        <h3>Cats only in this blog, Fido!</h3>

    {% endif %}

</div>

{% endblock %}